
<div class="container" *ngIf="!isLoading">
    <app-logistics-monitoring-bar
    [icon]="'assets/images/chair.png'"
    [max]="this.getTotalChairs()"
    [min]="this.getTotalChairs()-150"
    [current]="chairs"
    ></app-logistics-monitoring-bar>
    <app-logistics-monitoring-bar
    [icon]="'assets/images/desk-chair.png'"
    [max]="this.getTotalTables()"
    [min]="this.getTotalTables()-150"
    [current]="tables"
    >
    </app-logistics-monitoring-bar>
    <app-logistics-monitoring-bar
    [icon]="'assets/images/projector.png'"
    [max]="getTotalProjectors()"
    [min]="getTotalProjectors()-5"
    [current]="projectors"
    >
    </app-logistics-monitoring-bar>
</div>

