<section>
  <table>
    <thead>
      <tr>
        <th>Réclamation</th>
        <th>Date et heure de réclamation</th>
        <th>Statut</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let claim of claims">
        <td>{{ claim.titre }}</td>
        <td>{{ claim.date | date: 'dd/MM/yyyy à HH:mm' }}</td>
        <td [ngClass]="{
              'terminee': claim.status === StatutReclamation.TERMINEE,
              'en-attente': claim.status === StatutReclamation.EN_ATTENTE,
              'en-cours': claim.status === StatutReclamation.EN_COURS
            }">
          {{ claim.status }}
        </td>
      </tr>
    </tbody>
  </table>

  <p class="voir-plus">Voir plus...</p>
</section>
