<div class="register-container">
  <div class="form-section">
    <h2>Bienvenue Dans Notre Famille</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="Statut">Statut(Etudiant, Enseigneant, Personnel)</label>
        <input
          id="statut"
          class="form-control"
          type="text"
          formControlName="role"
          placeholder="eee"
        />
      </div>
      <div class="form-group">
        <label for="nom">Nom & Prenom</label>
        <input
          id="nom"
          class="form-control"
          type="text"
          formControlName="username"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          class="form-control"
          type="email"
          placeholder="eeeeeee@gmail.com"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input
          id="password"
          class="form-control"
          type="password"
          formControlName="password"/>
      </div>
    
      <div>
        <button type="submit"  class="btn btn-primary">
          S'inscrire
        </button>
        <p>{{ result }}</p>
      </div>
    </form>
    <div class="social-login">
        <p>ou</p>
        <button
          (click)="goToSeConncter()"
          type="button "
          class="btn google-btn"
        >
         Se Connecter
        </button>
       
      </div>
  </div>
  <div class="image-section"></div>
</div>
