.sidebar {
    width: 200px;
    background-color: #f5f5f5;
    padding: 20px 0;
    
    .logo {
      padding: 0 20px;
      margin-bottom: 40px;
      
      h1 {
        font-weight: bold;
        font-size: 24px;
      }
    }
    
    .menu {
      .menu-item {
        display: flex;
        align-items: center;
        padding: 12px 20px;
        margin-bottom: 8px;
        cursor: pointer;
        
        mat-icon {
          margin-right: 10px;
          color: #666;
        }
        
        &.active {
          
          border-radius: 20px;
          
          mat-icon, span {
            color: #fff;
          }
        }
      }
    }
  }
  