<section>
    <input [(ngModel)]="claim.location" type="texte" name="" id="" placeholder="Principale/Annexe">
    <input [(ngModel)]="claim.ressource"type="texte" name="" id="" placeholder="typr de ressources">
    <input [(ngModel)]="claim.probleme" type="texte" name="" id="" placeholder="Probleme">
    <input [(ngModel)]="claim.description" type="texte" name="" id="" placeholder="description">
    <button (click)="ajouterReclamation()">envoyer</button>
</section>
<li routerLink="/userInterface" routerLinkActive="active">vister compte</li>